<!doctype html>
<html xmlns="https://www.thymeleaf.org/"
	th:replace="~{ base :: layout(~{::title} , ~{::section} )}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>All Employee List</title>
</head>
<body>
	<section>
		<div class="container my-5">
			<table class="table  table-bordered table-hover"
				style="border: 2px solid black">
				<thead class="table-dark">
					<tr>
						<th scope="col">Employee Id</th>
						<th scope="col">First Name</th>
						<th scope="col">Last Name</th>
						<th scope="col">Email</th>
						<th scope="col">Contact No</th>
						<th scope="col">Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="e :${employee}">
						<td th:text="${e.empId}"></td>
						<td th:text="${e.firstName}"></td>
						<td th:text="${e.lastName}"></td>
						<td th:text="${e.email}"></td>
						<td th:text="${e.contactNo}"></td>
						<td><a style="color: blue"
							th:href="@{/editEmployee/{id}(id=${e.empId})}"><i
								class="fa-solid fa-pen-to-square"></i></a> &nbsp; <a
							style="color: red"
							th:href="@{/deleteEmployee/{id}(id=${e.empId})}"><i
								class="fa-solid fa-trash"></i></a></td>
					</tr>

				</tbody>

			</table>
		</div>
	</section>
</body>
</html>