<!doctype html>
<html xmlns="https://www.thymeleaf.org/" th:replace="~{ base :: layout(~{::title} , ~{::section} )}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee App of KMA </title>
  </head>
  <body>
	<section>
	<div class="container text-center my-5">
		<h1>Welcome to  Employee Management System</h1>
		<h5>An Employee Management System (EMS) is a software solution designed to streamline and automate the process of managing employees within an organization. It encompasses various functionalities to handle tasks related to employee information, attendance, payroll, performance evaluation, and more. Here are some key components and features typically found in an Employee Management System:</h5>
		</br>
		<img width="1000" height="600" src="/images/em3.jpg"/>
	</div>
	</section>
	
  </body>
</html>